<h1>{{thisLesson.title}}</h1>

<h2>{{thisLesson.description}}</h2>

{{{thisLesson.body1}}}
<img src="/assets/img/{{thisLesson.fig1}}" alt="{{fig_caption1}}">
<figcaption>{{thisLesson.fig_caption1}}</figcaption>

{{#if thisLesson.body2}}
{{{thisLesson.body2}}}
{{/if}}
{{#if thisLesson.fig2}}
<img src="/assets/img/{{thisLesson.fig2}}" alt="{{fig_caption2}}">
<figcaption>{{thisLesson.fig_caption2}}</figcaption>
{{/if}}
{{#if thisLesson.body3}}
{{{thisLesson.body3}}}
{{/if}}
{{#if thisLesson.fig3}}
<img src="/assets/img/{{thisLesson.fig3}}" alt="{{fig_caption3}}">
<figcaption>{{thisLesson.fig_caption3}}</figcaption>
{{/if}}
{{#if thisLesson.body4}}
{{{thisLesson.body4}}}
{{/if}}
{{#if thisLesson.fig4}}
<img src="/assets/img/{{thisLesson.fig4}}" alt="{{fig_caption4}}">
<figcaption>{{thisLesson.fig_caption4}}</figcaption>
{{/if}}