<h2>{{thisQuiz.lessons.title}}</h2>

<form action="">

<p id ="q1">{{thisQuiz.q1}}</p>
<input type="radio" id="q1a1" name="q1" value="1">
<label for="q1a1">{{thisQuiz.q1a1}}</label>
<input type="radio" id="q1a2" name="q1" value="2">
<label for="q1a2">{{thisQuiz.q1a2}}</label>
<input type="radio" id="q1a3" name="q1" value="3">
<label for="q1a3">{{thisQuiz.q1a3}}</label>
<input type="radio" id="q1a4" name="q1" value="4">
<label for="q1a4">{{thisQuiz.q1a4}}</label>

<p id ="q2">{{thisQuiz.q2}}</p>
<input type="radio" id="q2a1" name="q2" value="1">
<label for="q2a1">{{thisQuiz.q2a1}}</label>
<input type="radio" id="q2a2" name="q2" value="2">
<label for="q2a2">{{thisQuiz.q2a2}}</label>
<input type="radio" id="q2a3" name="q2" value="3">
<label for="q2a3">{{thisQuiz.q2a3}}</label>
<input type="radio" id="q2a4" name="q2" value="4">
<label for="q2a4">{{thisQuiz.q2a4}}</label>

<p id ="q3">{{thisQuiz.q3}}</p>
<input type="radio" id="q3a1" name="q3" value="1">
<label for="q3a1">{{thisQuiz.q3a1}}</label>
<input type="radio" id="q3a2" name="q3" value="2">
<label for="q3a2">{{thisQuiz.q3a2}}</label>
<input type="radio" id="q3a3" name="q3" value="3">
<label for="q3a3">{{thisQuiz.q3a3}}</label>
<input type="radio" id="q3a4" name="q3" value="4">
<label for="q3a4">{{thisQuiz.q3a4}}</label>

<p id ="q4">{{thisQuiz.q4}}</p>
<input type="radio" id="q4a1" name="q4" value="1">
<label for="q4a1">{{thisQuiz.q4a1}}</label>
<input type="radio" id="q4a2" name="q4" value="2">
<label for="q4a2">{{thisQuiz.q4a2}}</label>
<input type="radio" id="q4a3" name="q4" value="3">
<label for="q4a3">{{thisQuiz.q4a3}}</label>
<input type="radio" id="q4a4" name="q4" value="4">
<label for="q4a4">{{thisQuiz.q4a4}}</label>

<p id ="q5">{{thisQuiz.q5}}</p>
<input type="radio" id="q5a1" name="q5" value="1">
<label for="q5a1">{{thisQuiz.q5a1}}</label>
<input type="radio" id="q5a2" name="q5" value="2">
<label for="q5a2">{{thisQuiz.q5a2}}</label>
<input type="radio" id="q5a3" name="q5" value="3">
<label for="q5a3">{{thisQuiz.q5a3}}</label>
<input type="radio" id="q5a4" name="q5" value="4">
<label for="q5a4">{{thisQuiz.q5a4}}</label>

<input type="submit" value="submit">

</form>

<script src="quiz.js"></script>