<div class="container">
    <div class="row">
        <div class="u-full-width">
            <form id="quiz" data-quiz_id="{{thisQuiz.id}}">
    
            <p id ="q1">1. {{thisQuiz.q1}}</p>
            <label class="q1a1">
                <input type="radio" id="q1a1" name="q1" value="1">
                <span class="label-body">{{thisQuiz.q1a1}}</span>
            </label>
            <label class="q1a2">
                <input type="radio" id="q1a2" name="q1" value="2">
                <span class="label-body">{{thisQuiz.q1a2}}</span>
            </label>
            <label class="q1a3">
                <input type="radio" id="q1a3" name="q1" value="3">
                <span class="label-body">{{thisQuiz.q1a3}}</span>
            </label>
            <label class="q1a4">
                <input type="radio" id="q1a4" name="q1" value="4">
                <span class="label-body">{{thisQuiz.q1a4}}</span>
            </label>

            <div class="small-divider"></div>
    
           <p id ="q2">2. {{thisQuiz.q2}}</p>
            <label class="q2a1">
                <input type="radio" id="q2a1" name="q2" value="1">
                <span class="label-body">{{thisQuiz.q2a1}}</span>
            </label>
            <label class="q2a2">
                <input type="radio" id="q2a2" name="q2" value="2">
                <span class="label-body">{{thisQuiz.q2a2}}</span>
            </label>
            <label class="q2a3">
                <input type="radio" id="q2a3" name="q2" value="3">
                <span class="label-body">{{thisQuiz.q2a3}}</span>
            </label>
            <label class="q2a4">
                <input type="radio" id="q2a4" name="q2" value="4">
                <span class="label-body">{{thisQuiz.q2a4}}</span>
            </label>

            <div class="small-divider"></div>

            <p id ="q3">3. {{thisQuiz.q3}}</p>
            <label class="q3a1">
                <input type="radio" id="q3a1" name="q3" value="1">
                <span class="label-body">{{thisQuiz.q3a1}}</span>
            </label>
            <label class="q3a2">
                <input type="radio" id="q3a2" name="q3" value="2">
                <span class="label-body">{{thisQuiz.q3a2}}</span>
            </label>
            <label class="q3a3">
                <input type="radio" id="q3a3" name="q3" value="3">
                <span class="label-body">{{thisQuiz.q3a3}}</span>
            </label>
            <label class="q3a4">
                <input type="radio" id="q3a4" name="q3" value="4">
                <span class="label-body">{{thisQuiz.q3a4}}</span>
            </label>

            <div class="small-divider"></div>

            <p id ="q4">4. {{thisQuiz.q4}}</p>
            <label class="q4a1">
                <input type="radio" id="q4a1" name="q4" value="1">
                <span class="label-body">{{thisQuiz.q4a1}}</span>
            </label>
            <label class="q4a2">
                <input type="radio" id="q4a2" name="q4" value="2">
                <span class="label-body">{{thisQuiz.q4a2}}</span>
            </label>
            <label class="q4a3">
                <input type="radio" id="q4a3" name="q4" value="3">
                <span class="label-body">{{thisQuiz.q4a3}}</span>
            </label>
            <label class="q4a4">
                <input type="radio" id="q4a4" name="q4" value="4">
                <span class="label-body">{{thisQuiz.q4a4}}</span>
            </label>

            <div class="small-divider"></div>

            <p id ="q5">5. {{thisQuiz.q5}}</p>
            <label class="q5a1">
                <input type="radio" id="q5a1" name="q5" value="1">
                <span class="label-body">{{thisQuiz.q5a1}}</span>
            </label>
            <label class="q5a2">
                <input type="radio" id="q5a2" name="q5" value="2">
                <span class="label-body">{{thisQuiz.q5a2}}</span>
            </label>
            <label class="q5a3">
                <input type="radio" id="q5a3" name="q5" value="3">
                <span class="label-body">{{thisQuiz.q5a3}}</span>
            </label>
            <label class="q5a4">
                <input type="radio" id="q5a4" name="q5" value="4">
                <span class="label-body">{{thisQuiz.q5a4}}</span>
            </label>

            <div class="small-divider"></div>
            <h5>If you pass the quiz, pressing the button below will take you to the categories page where you can go to the next lesson. If you did not pass, you will be redirected to the lesson fore this quiz to study the content again.</h5>
            <div class="small-divider"></div>

            <input id="submit_quiz" class="button-primary" type="submit" value="submit">
    
            </form>
        </div>
    </div>
</div>

<script src="/assets/scripts/quiz.js"></script>